@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");
h2 {
  font-size: 30px;
}
@media (max-width: 576px) {
  h2 {
    font-size: 25px;
  }
}

h4 {
  font-size: 20px;
}
@media (max-width: 576px) {
  h4 {
    font-size: 16px;
  }
}

h5 {
  font-size: 16px;
}
@media (max-width: 576px) {
  h5 {
    font-size: 14px;
  }
}

p {
  font-size: 16px;
}
@media (max-width: 576px) {
  p {
    font-size: 14px;
  }
}

body,
a,
input {
  font-family: "Jost", sans-serif;
}

body {
  background-color: #f5f5f5;
  overflow-x: hidden;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

.font--fat {
  font-weight: 600;
}

.svg {
  display: block;
}
.svg--small {
  height: 20px;
  width: 20px;
}
.svg--medium {
  height: 30px;
  width: 30px;
}

.header {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  border: 1px solid #e3e3e3;
  background-color: #ffffff;
  padding: 20px 0 20px;
}
.header .header__wrapper {
  display: flex;
  align-items: center;
  gap: 35px;
}
.header .header__nav-btn {
  display: none;
  flex-direction: column;
  gap: 3px;
}
.header .header__nav-btn .stick {
  width: 20px;
  height: 2px;
  background-color: black;
  border-radius: 5px;
}
.header .header__nav {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.header .header__logo {
  margin-right: 80px;
}
.header .header__list {
  display: flex;
}
.header .header__list-link {
  padding: 18px;
  display: block;
  text-decoration: none;
  text-wrap: nowrap;
  color: black;
  font-size: 16px;
}
.header .header__list-link--primary {
  background-color: #00617f;
  color: white;
  border-radius: 5px;
  padding: 18px;
}
@media (max-width: 576px) {
  .header {
    padding: 10px 0;
  }
  .header .header__wrapper {
    justify-content: space-between;
    gap: 0;
  }
  .header .header__nav-btn {
    display: flex;
  }
  .header .header__logo {
    margin: 0;
  }
  .header .header__nav {
    display: none;
  }
}

.logo {
  letter-spacing: 1px;
}

.search {
  padding: 12.5px 15px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.search #search-btn {
  cursor: pointer;
  background-color: #ffffff;
}
.search .search__input {
  font-size: 16px;
  border: 0;
  width: 260px;
}
.search .search__input:focus {
  outline: 0;
}
@media (max-width: 576px) {
  .search {
    padding: 0;
    border: 0;
    border-radius: 0;
  }
  .search #search-btn {
    padding: 10px;
    position: relative;
    z-index: 5;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
  }
  .search .search__input {
    position: absolute;
    z-index: 4;
    width: calc(100vw - 110px);
    left: 220vw;
    top: 0;
    bottom: 0;
    transition: left 300ms ease-in-out;
  }
  .search .search__input.active {
    left: 20px;
  }
}

.main,
.footer {
  position: relative;
  top: 120px;
}
@media (max-width: 576px) {
  .main,
  .footer {
    top: 80px;
  }
}

.author .author__intro {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}
.author .author__intro-left {
  background-color: #ffffff;
  border-radius: 10px 10px 5px 5px;
  flex: 10;
}
.author .author__intro-right {
  background-color: #ffffff;
  border-radius: 5px;
  flex: 5;
}
@media (max-width: 576px) {
  .author .author__intro {
    flex-direction: column;
  }
}

.author__intro-left .author__about {
  padding: 0 30px 15px;
}
.author__intro-left .author__about-top,
.author__intro-left .author__about-bottom {
  display: flex;
  justify-content: space-between;
}
.author__intro-left .author__about-top {
  align-items: flex-end;
  height: 17px;
  margin-bottom: 10px;
}
.author__intro-left .author__about-bottom {
  align-items: center;
}
.author__intro-left .author__background {
  height: 144px;
  border-radius: 10px;
  background-image: url("../images/author-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.author__intro-left .author__img {
  display: block;
  height: 110px;
  border: 4px solid white;
  border-radius: 100px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}
.author__intro-left .author__fullname {
  font-weight: 500;
}
.author__intro-left .author__contact-list {
  display: flex;
  gap: 15px;
}
.author__intro-left .author__contact-wrap {
  display: block;
}
.author__intro-left .author__contact-img {
  display: block;
  height: 25.48px;
  border: 5px solid white;
  border-radius: 50px;
}
.author__intro-left .author__props {
  display: flex;
  gap: 15px;
}
.author__intro-left .author__prop {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 576px) {
  .author__intro-left .author__about {
    padding: 0 15px 10px;
  }
  .author__intro-left .author__img {
    height: 90px;
  }
  .author__intro-left .author__fullname {
    margin-bottom: 5px;
  }
  .author__intro-left .author__about-bottom {
    flex-direction: column;
    align-items: start;
  }
}

.author__intro-right {
  padding: 30px 30px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.author__intro-right .author__title {
  font-weight: 500;
  margin-bottom: 10px;
}
.author__intro-right .author__text {
  margin-bottom: 8px;
}
.author__intro-right .author__stats {
  border-top: 2px solid lightgray;
  padding: 8px 0 0;
  gap: 15px;
}
.author__intro-right .author__stats,
.author__intro-right .author__stats-item {
  display: flex;
  align-items: center;
}
.author__intro-right .author__stats {
  justify-content: space-around;
}
.author__intro-right .author__stats-item {
  gap: 10px;
}
@media (max-width: 576px) {
  .author__intro-right {
    padding: 15px;
  }
}

.catalog .catalog__content {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
}
.catalog .catalog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.catalog .catalog__title {
  font-weight: 500;
}
.catalog .line {
  height: 2px;
  width: 70%;
  background-color: lightgray;
}
.catalog .catalog__nav {
  display: flex;
  gap: 10px;
}
.catalog .catalog__nav-btn {
  cursor: pointer;
  padding: 10px 20px;
  background-color: transparent;
  border: 0;
}
.catalog .catalog__nav-btn--primary {
  border: 1px solid rgb(0, 97, 127);
  border-radius: 5px;
}
.catalog #sort-btn {
  position: relative;
  z-index: 5;
}
.catalog .catalog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.catalog .catalog__item {
  flex: 1;
  min-width: 230px;
}
.catalog .catalog__item-link {
  display: block;
  text-decoration: none;
}
.catalog .catalog__item-img {
  height: 180px;
}
.catalog .catalog__img-wrap {
  padding: 20px;
  text-align: center;
  background-color: rgb(235, 235, 235);
  border-radius: 10px 10px 0 0;
}
.catalog .catalog__item-info {
  padding: 10px;
  background-color: rgb(245, 245, 245);
  border-radius: 0 0 10px 10px;
  color: black;
}
.catalog .catalog__item-title {
  margin-bottom: 5px;
}
.catalog .catalog__item-price {
  font-weight: 500;
}
@media (max-width: 576px) {
  .catalog .catalog__content {
    padding: 15px;
  }
  .catalog .line {
    display: none;
  }
}

.footer {
  padding: 60px 0 60px;
  margin-top: 100px;
  background-color: rgb(241, 236, 234);
}
.footer .footer__wrapper {
  text-align: center;
}
.footer .footer__logo {
  margin-bottom: 20px;
}
.footer .footer__contacts {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer .footer__link {
  padding: 5px 10px;
  text-decoration: none;
  color: black;
}
.footer .line {
  height: 2px;
  width: 100%;
  background-color: lightgray;
  margin: 20px auto;
}/*# sourceMappingURL=style.css.map */